* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 20px; 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1415px;
    height: 786px;
    margin-bottom: 280px;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 132px; 
    height: 44px;
    transition: 0.5s;
}

.top-nav {
    width: 663px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-right: 120px;
}


.main-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.element {
    width: 20px;
    height: 20px;
    position: absolute;
    animation: rotate 5s linear infinite;
    transition: all 0.5s ease;
}

.form-button {
    width: 180px; 
    height: 52px;
    transition: 0.5s;
}

.form-button:hover {
    width: 190px; 
    height: 60px;
    animation: button 1s linear infinite;
}

.button:hover {
    width: 140px; 
    height: 50px;
    animation: button 1s linear infinite;
}

.header_text {
    display: none;
}

.burger-menu {
    display: none;
}

.main-header_text {
    width: 356px;
    height: 160px; 
    margin-bottom: 85px;
}

.holiday-finder_text {
    font-size: 22px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    color: #202336;
}

.palka {
    width: 32px; 
    height: 2px; 
    background-color: #202336; 
    margin-bottom: 50px; 
    border-radius: 4px;
}

.holiday-finder_input-block {
    display: flex;
    width: 470px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-header_text-text{
    font-size: 64px; 
    font-weight: bold; 
    color: #202336;
}

.holiday-finder_input-block_input {
    width: 220px; 
    height: 52px; 
    border: 0.8px solid #AFB0B9; 
    border-radius: 6px; display: flex; 
    align-items: center; 
    justify-content: space-around; 
    margin-bottom: 36px;
}

.section02 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 280px;
    align-items: center;
}

.thousand-02 {
    width: 660px;
    height: 540px;
}

.section02-title {
    font-size: 36px;
    font-weight: bold;
    width: 481px;
}

.section02-text {
    width: 450px;
    color: #7D7987;
}

.section02-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 333px;
}

/* selection 3 */

.section03 {
    width: 100%;
    display: flex;
    margin-bottom: 280px;
    flex-direction: column;
}

.section03-header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 55px;
}

.section03-title {
    width: 481px;
    font-size: 36px;
    font-weight: bold;
    margin-left: 80px;
}

.section03-text {
    width: 80px;
    color: #FB8F1D;
    font-size: 18px;
    font-weight: bold;
    margin-right: 80px;
}

.section03-main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section03-image {
    width: 261px;
    height: 337px;
    border-radius: 8px;
}

/* selection 4 */

.section04 {
    width: 100%;
    display: flex;
    margin-bottom: 280px;
    justify-content: center;
}

.section04-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
    
}

.section04-right-image {
    width: 600px;
    height: 542px;
}

.section04-left-title {
    width: 350px;
    font-size: 36px;
    font-weight: bold;
}

.section04-left-text {
    width: 450px;
    font-size: 17px;
    color: #7D7987;
    margin-top: 33px;
    margin-bottom: 33px;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}

@keyframes button {
   0% {
    transform: rotate(0deg);
   }
   33% {
    transform: rotate(5deg);
   }
   66% {
    transform: rotate(-5deg);
   }
   100% {
    transform: rotate(0deg);
   }
}

@media (max-width: 1420px) {
    body {
        margin: 0px;
        padding: 0px;
    }

    .element {
        display: none;
    }

    .header {
        width: 100%;
        height: auto;
        margin-bottom: 80px;
    }

    .travel-img {
        display: none;
    }
    .top-header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .top-nav {
        display: none;
    }

    .logo {
        display: none;
    }

    .main-header {
        display: flex;
        justify-content: center;
    }

    .burger-menu {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 100px;
    }

    .burger-menu_image {
        width: 100%;
        height: 100%;
    }

    .main-header_text {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 29px;
    }

    .header_text {
        display: block;
        color: #FB8F1D;
        font-weight: bold;
        font-size: 20px;
    }

    .main-header_text-text{
        font-size: 54px; 
        font-weight: bold; 
        color: #202336;
    }

    .holiday-finder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .holiday-finder_text {
        font-size: 35px; 
    }

    .palka {
        width: 300px;
    }

    .holiday-finder_input-block {
        justify-content: space-around;
        width: 100%;
    }

    .holiday-finder_input-block_input {
        width: 150px; 
        height: 38px; 
    }

    .thousand-02 {
        display: none;
    }

    .section02 {
        margin-bottom: 80px;
    }

    .section02-title {
        width: 90%;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .section02-text {
        width: 90%;
        margin-bottom: 20px;
    }

    .section02-text-block {
        align-items: center;    
        justify-content: center;
    }

    /* selection 3 */


    .section03 {
        margin-bottom: 80px;
    }

    .section03-main {
        flex-direction: column;
        align-items: center;
    }

    .section03-image {
        margin-bottom: 100px;
    }

    .section03-header {
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .section03-title {
        margin-left: 0px;
        margin-bottom: 10px;
        width: 90%;
    }

    .section03-text {
        margin-right: 0px;
        margin-bottom: 10px;
        width: 90%; 
    }

    /* selection 4 */

    .section04 {
        margin-bottom: 80px;
    }

    .section04-right {
        display: none;
    }

    .section04-left {
        align-items: center;
        margin-right: 0px;
    }

    .section04-left-text {
        width: 90%;
    }

    .section04-left-title {
        width: 90%;
    }
}