* {
    margin: 0;
    padding: 0;
}

.header {
    width: 1415px;
    height: 786px;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.top-nav {
    width: 663px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}